body {
	background: #000024;
	color: #ffffff	
}

header {
	box-sizing: border-box;
	font-size: 36px;
	text-align: center;
}

main{
	text-align: center;
}

footer {
	text-align: center;
}

.quote {
	position: relative;
	right: 12em;	
	text-align: right;
	font-size: 16px;
	color: #0000ff;
}
.selfintro{
	font-size: 24px;
}
.contactinfo {
	font-size: 18px;
	color: #999999;
}
.headline{
	font-family: "楷体";	
}
.alink {
	color: white;
	text-decoration: none; 
}