body {
	background-color: #636363;
	color: #ffffff;	
}


.whole{
	
}

header {
	text-align: left;
	color: #ffffff;
	position: relative;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.top_navi {
    position: relative;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.top_button {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.navi{
	font-size: 32px;
	color: white;
	text-decoration: none;	
	font-family: "楷体";
}

main {
	position: relative;
	top: 7em;
	text-align: center;
}

aside {
	
}

footer {
	position: relative;
	top: 16em;
	text-align: center;
}


.navi-list li{
	display: inline;
}
.alink{
	text-decoration: none; 
	color: #ffffff;
}
.quote {
	font-size: 32px;
	text-align: center;
	font-family: "楷体";
}
.cite-src{
	font-size: 32px;
	text-align: right;
	font-family: "楷体";
}



