body {
	background-color: #ffffff;
	color: #ffffff;	
}


#allcontent{
	background-color: #636363;
	position: relative; 
	width: 80%; 
	/* height: 100em;  */
	margin: auto;
}

header {
	/*区块格式*/
	background-color: #555555;
	position: relative;
    width: 100%;
    line-height: 140%;
    margin: auto;
	/*字体格式*/	
	font-family: "arial";
    font-size: 32px;
	text-align: center;	
	color: #ffffff;
}

main {
	background-color: #555555;
	position: relative;
    width: 80%;
    height: 60%;
    margin: 0 auto;
	text-align: center;
}

aside {
	
}

footer {
	background-color: #555555;
	position: relative;
    width: 80%;
    line-height: 120%;
    margin: auto;
	text-align: center;
}

.top_navi {
	background-color: #aaaaaa;
    position: relative;
    width: 100%;
    height: 32px;
    margin: 0 auto;
}

.top_button {
	background-color: #111111;
    line-height: 100%;
    float: left;
    margin-right: 20px;
    margin-top: 0px;
    text-align: center;
    font-size: 32px;
}

.navi{
	color: white;
	text-decoration: none;	
	font-family: "楷体";
}

.navi-list li{
	display: inline;
}

.left-col{
	background-color: blue;
	float:left;
	width:20%;
	
}

.middle-col{
	background-color: white;
	float:right;
	width:80%;
}

.alink{
	text-decoration: none; 
	color: #ffffff;
}

.quote {
	font-size: 32px;
	text-align: center;
	font-family: "楷体";
}

.cite-src{
	font-size: 32px;
	text-align: right;
	font-family: "楷体";
}



