body {
	background-color: #636363;
	color: #ffffff;	
}

.whole{
	
}

header {
	text-align: right;
}

main {
	position: relative;
	top: 7em;
	text-align: center;
}

aside {
	
}

footer {
	position: relative;
	top: 16em;
	text-align: center;
}


.navi-list li{
	display: inline;
}
.alink{
	text-decoration: none; 
	color: #ffffff;
}
.quote {
	font-size: 32px;
	text-align: center;
	font-family: "楷体";
}
.cite-src{
	font-size: 32px;
	text-align: right;
	font-family: "楷体";
}



