body {
	background-color: #636363;
	color: #ffffff;	
}

#h1-1 {
	font-size: 32px;
	text-align: center;
}

#h1-2{
	font-size: 24px;
	text-align: center;
}

aside {
	text-indent: 64em;
}

main {
	position: relative;
	top: 7em;
	text-align: center;
}

footer {
	position: relative;
	top: 20em;
	text-align: center;
}
