body {
	background-color: #ffffff;
}

header{
	background-color: #636363;
	position: relative;
	margin: auto;
	width: 80%;
}

main{
	background-color: #636363;
	position: relative;
	margin: auto;
	width: 80%;
}

aside{
	
}

footer{
	background-color: #636363;
	position: relative;
	margin: auto;
	width: 80%;
}
